* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.calculator {
  width: 80%;
  margin: 2rem auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

button {
  padding: 2rem;
  width: 25%;
  font-size: 3rem;
  font-weight: 400;
  border: 1px solid white;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.screen {
  text-align: right;
  background-color: gray;
  font-size: 4rem;
  padding: 1rem;
  height: 6rem;
}

.keys {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.zero {
  width: 50%;
}

.operation {
  background: orange;
}

@media screen and (min-width: 768px) {
  .calculator {
    width: 50%;
  }
}
